[run]
source =
    services
    managers
    templates.models
    templates.router

omit =
    */tests/*
    */migrations/*
    */requirements/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:

precision = 2

[html]
directory = htmlcov
